# ========================
# Ignorowanie pliku z danymi konfiguracyjnymi
# ========================
.env

# ========================
# Ignorowanie plików CSV generowanych przez raport
# ========================
*.csv